---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;
$heading-font-family: "Nunito", $base-font-family;
$mono-font-family: Consolas, Menlo, monospace;
$small-font-size: $base-font-size * 0.9;
$spacing-unit: 40px;

$background-color: #fdfdff;
$brand-color: #4666c0;
$grey-color: #867696;
$grey-color-dark: darken($grey-color, 25%);
$grey-color-light: lighten($grey-color, 35%);
$text-color: #111;

$content-width: 1040px;
$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@media (max-width: 960px) {
    .post-link-icos {
        display: grid;
        grid-template-columns: repeat(4, minmax(10px, auto)) !important;
        grid-template-rows: repeat(2, 1fr) !important;
        grid-gap: 1rem;
    }
}

@media (max-width: 600px) {
    .page-content .wrapper {
        max-width: 100%;
        padding: 0;
    }

    .page-content .wrapper > .home,
    .page-content .wrapper > .post {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        padding-left: $spacing-unit;
        padding-right: $spacing-unit;
    }

    pre.highlight {
        border-left: 0;
        border-right: 0;
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .post-link-icos {
        display: grid;
        grid-template-columns: repeat(3, minmax(10px, auto)) !important;
        grid-template-rows: repeat(2, 1fr) !important;
        grid-gap: 1rem;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";

.home,
article {
    background-color: $background-color;
    border: 1px solid #e8e8ee;
    border-radius: $spacing-unit;
    padding: $spacing-unit * 1.5;
}

body {
    background-color: #eef;
}

.centered {
    margin: $spacing-unit * 0.5 auto;
    max-width: 100%;
    text-align: center;
}

.centered img {
    display: block;
    margin: $spacing-unit * 0.1 auto;
}

.desc,
.post-meta {
    color: $grey-color;
    font-size: $base-font-size;
}

.desc i {
    display: block;
}

.footnotes {
    padding-top: $spacing-unit;
}

.footnotes,
hr {
    border-top: 4px dotted $grey-color-light;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: $spacing-unit * 0.75 0;
}

.site-header {
    border: 0;
    text-align: center;
    padding-top: 1rem;
}

.site-title,
.site-title:visited {
    float: none;
    font-size: 2rem;
    line-height: 1.2;
}

.box-drawing * {
    line-height: 1.05;
}

code {
    font-family: $mono-font-family;
    line-height: 1.2;
}

code,
pre {
    font-size: $small-font-size;
}

table {
    border-collapse: collapse;
    margin: $spacing-unit * 0.5 0;
}

table tr {
    border-top: 2px solid #eef;
}

table th {
    white-space: nowrap;
}

table th,
table td {
    padding-right: $spacing-unit * 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.page-heading,
.post-meta,
.post-title,
.site-title,
.site-title:visited {
    color: $grey-color;
    font-family: $heading-font-family;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * 0.25;
}

.page-heading {
    display: inline-block;
}

.page-heading,
.page-link {
    font-size: $base-font-size * 1.5;
}

.page-link {
    margin: 0 1rem 0 0;
    padding: 0;
}

.post-link-container {
    display: inline-block;
    margin-left: 0.5rem;
}

.post-link .post-link-word:hover {
    text-decoration: underline !important;
    text-decoration-color: black !important;
}

.title-icon {
    max-width: 7.5rem;
    max-height: 1.25rem;
}

.footer-container {
    text-align: left;
}

.footer-icon {
    display: inline-block;
    min-width: 1rem;
    min-height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
    padding-bottom: 0.25rem;
}

.footer-icon:hover {
    filter: brightness(75%) contrast(200%) grayscale(50%);
    text-decoration: none;
}

.post-heading,
.post-meta {
    margin-bottom: 0;
}

.post-meta.post-blurb {
    margin-bottom: 0.25rem;
}

.label-light,
.label {
    font-family: $mono-font-family;
    font-size: $small-font-size;
    font-weight: bold;

    border-radius: 3px;
    line-height: 1.2;
    padding: 1px 5px;
}

.label-light {
    border: 1px solid rgba(0,0,0,0.2);
}

.label {
    background-color: black;
    color: white;
}

.post-link-icos {
    display: grid;
    grid-template-columns: repeat(8, minmax(10px, auto));
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;
}

.post-link-icos .page-link {
    border-bottom: 2px solid transparent;
    margin: 0 auto;
}

.post-link-icos .page-link .post-link-container {
    margin: 0;
}

.post-link-icos .page-link:hover {
    border-color: $text-color;
}
