---
layout: default
---

<div class="home">
    <h2 class="page-heading">Dumping & Emulation</h2>
    {% assign sorted_pages = site.pages | sort: 'index' %}
    <div class="post-link-icos">
    {% for my_page in sorted_pages %}
    {% if my_page.title contains 'Reversing' %}
    {% else %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}"><div class="post-link-container">
                {% for plat in my_page.platforms %}
                    {% assign path = '/ico/' | append: plat | append: ".svg"  %}
                    {% assign file_exists = site.static_files | where: "path", path %}
                    {% if file_exists.size != 0 %}
                        {% assign ext = 'svg' %}
                    {% else %}
                        {% assign ext = 'png' %}
                    {% endif %}
                    <img class="title-icon" src="ico/{{plat}}.{{ext}}"></img>
                {% endfor %}
            </div></a>
        {% endif %}
    {% endif %}
    {% endfor %}
    </div>

    <hr/>

    {% assign sorted_pages = site.pages | sort: 'index' %}
    {% for my_page in sorted_pages %}
    {% if my_page.title contains 'Reversing' %}
    <h2>
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    </h2>
    {% endif %}
    {% endfor %}

    <hr/>

    <h2 class="page-heading">Posts</h2>
    <div class="post-link-container">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img alt="Subscribe via RSS" class="footer-icon" src="ico/rss.svg"></img></a>
    </div>
    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2 class="post-heading">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                    {% assign words = post.title | split:' ' %}
                    {% for word in words %}
                    <span class="post-link-word">{{word}}</span>{% if forloop.last == false %} {% endif %}{% endfor %}<div class="post-link-container">
                        {% for plat in post.platforms %}
                            {% assign path = '/ico/' | append: plat | append: ".svg"  %}
                            {% assign file_exists = site.static_files | where: "path", path %}
                            {% if file_exists.size != 0 %}
                                {% assign ext = 'svg' %}
                            {% else %}
                                {% assign ext = 'png' %}
                            {% endif %}
                            <img class="title-icon" src="ico/{{plat}}.{{ext}}"></img>
                        {% endfor %}
                    </div>
                </a>
            </h2>
            {% if post.blurb %}
            <span class="post-meta">{{ post.blurb }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
