<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="preload" href="/writeups/font/nunito-v26-latin_latin-ext-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/writeups/font/nunito-v26-latin_latin-ext-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/writeups/font/nunito-v26-latin_latin-ext-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/writeups/font/nunito-v26-latin_latin-ext-700italic.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <style>
  @font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('/writeups/font/nunito-v26-latin_latin-ext-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    src: url('/writeups/font/nunito-v26-latin_latin-ext-italic.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('/writeups/font/nunito-v26-latin_latin-ext-700.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    src: url('/writeups/font/nunito-v26-latin_latin-ext-700italic.woff2') format('woff2');
  }
  </style>
</head>
